<footer class="bg-dark py-5 text-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <strong class="text-uppercase">Menu</strong>
        <hr/>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-gray ps-0 py-1" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray ps-0 py-1" href="/gems">Browse gems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray ps-0 py-1" href="/maintainers">For maintainers</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mt-5 mt-md-0">
        <strong class="text-uppercase">Privacy</strong>
        <hr/>
        <ul class="ps-4">
          <li>
            ShinyGems uses privacy-first <a href="https://www.cloudflare.com/web-analytics/" class="text-gray" target="_blank">Cloudflare Analytics</a>.
          </li>
          <li>
            Uploaded Gemfiles are stored only during request.
          </li>
          <li>
            GitHub tokens are stored in encrypted form.
          </li>
          <li>
            We don not collect your e-mail address.
          </li>
        </ul>

      </div>
      <div class="col-md-4 mt-5 mt-md-0">
        <strong class="text-uppercase">About author</strong>
        <hr/>
        ShinyGems was built by Karol Bąk to help develop better gems for our amazing ruby community.
        You can find me here:
        <div class="mt-2 text-big">
          <a href="https://kukicola.io/" class="text-gray text-decoration-none" target="_blank">
            <i class="bi bi-journal-bookmark"></i>
          </a>
          <a href="https://twitter.com/kukicola" class="text-gray text-decoration-none ms-2" target="_blank">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="https://github.com/kukicola" class="text-gray text-decoration-none ms-2" target="_blank">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/karol-b%C4%85k-30515295/" class="text-gray text-decoration-none ms-2" target="_blank">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://ruby.social/@kukicola" class="text-gray text-decoration-none ms-2" target="_blank">
            <i class="bi bi-mastodon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
