<footer class="bg-dark py-5 text-gray">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <strong class="text-uppercase">Menu</strong>
        <hr/>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-gray" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray" href="#">Browse gems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray" href="#">For maintainers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray">About author</a>
          </li>
        </ul>
      </div>
      <div class="col-4">
        <strong class="text-uppercase">Recently added</strong>
        <hr/>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-gray" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray" href="#">Browse gems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray" href="#">For maintainers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray">About author</a>
          </li>
        </ul>
      </div>
      <div class="col-4">
        <strong class="text-uppercase">Most popular</strong>
        <hr/>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-gray" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray" href="#">Browse gems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray" href="#">For maintainers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray">About author</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
