<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ShinyGems</title>
    <link rel="stylesheet" href="/assets/stylesheets/app.css">
    <meta charset="UTF-8"/>
    <meta content="ShinyGems" name="description"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  </head>
  <body>
    <%= yield %>
   </body>
</html>
