<div class="intro py-10">
  <div class="container justify-content-center align-content-center d-flex text-center text-white">
    <div class="col-10">
      <div class="display-2 home-title">
        Help maintain your favourite gems and make them <strong class="fw-bold">shine</strong> ✨
      </div>
      <div class="h3 mt-5">
        Make your first steps in open source.<br/>Start browsing gems and help with their development.
      </div>
      <div class="mt-5">
        <a href="/gems" class="btn btn-light btn-lg px-4 btn-intro-main">Browse gems</a>
        <a href="/maintainers" class="btn btn-outline-light btn-lg ms-3 px-4 btn-intro-secondary">For maintainers</a>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-white">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-8 text-center">
        <div class="display-3 mb-3">How does it work?</div>
        <p class="lead">
          With ShinyGems you can make your first steps in open source and help ruby community develop better software.
          Many maintainers work on gems in their spare time and don't have enough capacity to take care of all the
          issues or develop new features. ShinyGems connects maintainers with passionate developers who
          want to make ruby ecosystem better.
        </p>
      </div>
    </div>
    <div class="row align-items-center mt-5">
      <div class="col-6 text-huge">
        <div class="h2">Browse gems or upload Gemfile</div>
        <p>
          Browse gems or upload your Gemfile to see if there are any gems you are using that require help.
        </p>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <div class="home-image w-75">
          <img src="/assets/images/home/1.png" class="w-100"/>
        </div>
      </div>
    </div>
    <div class="row align-items-center mt-5">
      <div class="col-6 text-huge">
        <div class="h2">Pick issue and work on it</div>
        <p>
          ShinyGems provides list of issues you can help with. These may be bugs or new features waiting to be
          implemented.
        </p>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <div class="home-image w-75">
          <img src="/assets/images/home/2.png" class="w-100"/>
        </div>
      </div>
    </div>
    <div class="row align-items-center mt-5">
      <div class="col-6 text-huge">
        <div class="h2">Make your favourite gems better!</div>
        <p>
          When you are done open pull request on GitHub, wait for approval and pop a beer, you deserve it!
        </p>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <div class="home-image w-75">
          <img src="/assets/images/home/3.png" class="w-100"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-red">
  <div class="container text-center text-white">
    <div class="h1">
      Are you ready to start? 🚀
    </div>
    <div class="h3 mb-4">
      You don't have to sign in to browse gems and issues.
    </div>
    <a href="/gems" class="btn btn-light btn-lg px-4 btn-intro-main">Browse gems</a>
  </div>
</div>
