<div class="intro py-10">
  <div class="container justify-content-center align-content-center d-flex text-center text-white">
    <div class="col-10">
      <div class="display-2 home-title">
        Help maintain your favourite gems and make them <strong class="fw-bold">shine</strong> ✨
      </div>
      <div class="h3 mt-5">
        Make your first steps in open source.<br/>Start browsing gems and help with their development.
      </div>
      <div class="mt-5">
        <a href="#" class="btn btn-light btn-lg px-4 btn-intro-main">Browse gems</a>
        <a href="#" class="btn btn-outline-light btn-lg ms-3 px-4 btn-intro-secondary">For maintainers</a>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 text-big">
        <div class="h2">How does it work?</div>
        <p>
          With ShinyGems you can make your first steps in open source and help ruby community develop better software.
          Many maintainers work on gems in their spare time and don't have enough capacity to take care of all the
          issues or develop new features. ShinyGems connects maintainers with passionate developers who
          want to make ruby ecosystem better.
        </p>
        <div class="h2 mt-5">How can I help?</div>
        <p>
          Browse gems or upload your Gemfile to see if there are any gems you are using that require help.
          Check pending issues or feature requests, work on them and make your favorites gems better!
        </p>
      </div>
      <div class="col-6 text-center">
        <img src="/assets/images/logo.svg" class="w-75"/>
      </div>
    </div>
  </div>
</div>
