<div class="intro py-10">
  <div class="container justify-content-center align-content-center d-flex text-center text-white">
    <div class="col-10">
      <div class="display-2 home-title">Help maintain your favourite gems and make them shine!</div>
      <div class="h3 mt-5">
        Make your first steps in open source.<br/>Start browsing gems and help with their development.
      </div>
      <div class="mt-5">
        <a href="#" class="btn btn-light btn-lg px-4">Browse gems</a>
        <a href="#" class="btn btn-outline-light btn-lg ms-3 px-4">For maintainers</a>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="h2">Some title</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue tincidunt velit. Integer sed mi
          et
          justo sollicitudin semper eget sit amet nisi. Morbi egestas condimentum consequat. Cras quis aliquam urna.
          Mauris eget magna dignissim ex molestie sollicitudin vestibulum id purus. Sed hendrerit sem convallis porta
          luctus. Integer viverra, enim pellentesque pulvinar eleifend, ex urna faucibus risus, in mattis magna leo sit
          amet enim.
        </p>
        <p>
          Nunc non ligula hendrerit, accumsan sapien a, ultricies ligula. Aliquam vitae tincidunt ex. Nam luctus metus
          eu
          erat imperdiet, placerat ullamcorper mi aliquet. Nunc ut scelerisque leo, sit amet accumsan mauris. Ut augue
          magna, dictum in convallis non, imperdiet id velit. Donec cursus et nulla eu volutpat. Etiam vitae luctus dui.
          In ac elementum dolor.
        </p>
      </div>
      <div class="col-6 text-center">
        <img src="/assets/images/logo.svg" class="w-75"/>
      </div>
    </div>
  </div>
</div>
