<div class="container">
  <div class="my-5 py-5 text-center">
    <div class="display-2"><%= code %></div>
    <div class="h3"><%= msg %></div>
    <div class="mt-5">
      <a href="/" class="btn btn-primary">Homepage</a>
    </div>
  </div>
</div>
