<div class="container">
  <div class="my-5 py-5">
    <div class="display-5 text-center mb-5">Privacy Policy</div>
    At ShinyGems, we are committed to protecting your privacy. This Privacy Policy outlines the type of personal data we
    collect, how we use it, and how we protect your information, in compliance with the General Data Protection
    Regulation (GDPR).

    <div class="h3 mt-3">Website Owner</div>
    The ShinyGems website is owned and operated by Karol Bąk, ul. Pszczelna 32/31, 30-409 Cracow, Poland.

    <div class="h3 mt-3">Data Collection</div>
    We collect the following types of data:
    <ol>
      <li>
        Anonymous analytics data: We use cookies and other tracking technologies to collect anonymous analytics data.
        This data includes information about your device, browser, and how you interact with the website. We use this data
        to improve our website and provide a better user experience.
      </li>
      <li>
        Email addresses: We collect email addresses when you sign up. We use this
        information to send you notifications that you can opt-in or opt-out anytime. We
        won't use your email address for marketing emails unless you have provided consent.
      </li>
      <li>
        Github usernames: We collect Github usernames for authorization purposes.
        We do not use this information for any other purpose.
      </li>
    </ol>

    <div class="h3 mt-3">Data Usage</div>
    We use the data we collect for the following purposes:
    <ol>
      <li>
        To improve our website: We use anonymous analytics data to improve our website and provide a better user
        experience.
      </li>
      <li>
        To communicate with our users: We use email addresses to send you notifications about our products and services.
      </li>
      <li>
        For authorization: We use Github usernames for authorization purposes.
      </li>
    </ol>

    <div class="h3 mt-3">Data Access and Deletion</div>
    You have the right to access and delete your personal data that we have collected. If you would like to access or
    delete your data, please contact us at hello@shinygems.dev.

    <div class="h3 mt-3">Data Protection</div>
    We take appropriate technical and organizational measures to ensure the security of your personal data against
    unauthorized access, alteration, disclosure, or destruction.

    <div class="h3 mt-3">Changes to this Privacy Policy</div>
    We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the date of the
    latest update will be indicated at the top of the page.
  </div>
</div>
