<footer class="bg-dark py-5 text-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <strong class="text-uppercase">Menu</strong>
        <hr/>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-gray ps-0 py-1" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray ps-0 py-1" href="/gems">Browse gems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray ps-0 py-1" href="/favorites">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray ps-0 py-1" href="/privacy">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-gray ps-0 py-1" target="_blank" href="https://github.com/kukicola/shiny_gems">Source code</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mt-5 mt-md-0">
        <strong class="text-uppercase">Sponsor</strong>
        <hr/>
        You can sponsor ShinyGems via GitHub:<br/>
        <iframe src="https://github.com/sponsors/kukicola/button" title="Sponsor kukicola" height="32" width="114" style="border: 0; border-radius: 6px;" class="mt-2"></iframe>
      </div>
      <div class="col-md-4 mt-5 mt-md-0">
        <strong class="text-uppercase">About author</strong>
        <hr/>
        ShinyGems was built by Karol Bąk to help develop better gems for our amazing ruby community.
        You can find me here:
        <div class="mt-2 text-big">
          <a href="https://kukicola.io/" class="text-gray text-decoration-none" target="_blank" aria-label="Blog">
            <i class="bi bi-journal-bookmark"></i>
          </a>
          <a href="https://x.com/kukicola" class="text-gray text-decoration-none ms-2" target="_blank" aria-label="Twitter">
            <i class="bi bi-twitter-x"></i>
          </a>
          <a href="https://github.com/kukicola" class="text-gray text-decoration-none ms-2" target="_blank" aria-label="GitHub">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/karol-b%C4%85k-30515295/" class="text-gray text-decoration-none ms-2" target="_blank" aria-label="LinkedIn">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://ruby.social/@kukicola" rel="me" class="text-gray text-decoration-none ms-2" target="_blank" aria-label="Mastodon">
            <i class="bi bi-mastodon"></i>
          </a>
          <a href="https://bsky.app/profile/kukicola.io" rel="me" class="text-gray text-decoration-none ms-2" target="_blank" aria-label="Bluesky">
            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 24 24"><path d="M12 10.8c-1.087-2.114-4.046-6.053-6.798-7.995C2.566.944 1.561 1.266.902 1.565C.139 1.908 0 3.08 0 3.768c0 .69.378 5.65.624 6.479c.815 2.736 3.713 3.66 6.383 3.364c.136-.02.275-.039.415-.056c-.138.022-.276.04-.415.056c-3.912.58-7.387 2.005-2.83 7.078c5.013 5.19 6.87-1.113 7.823-4.308c.953 3.195 2.05 9.271 7.733 4.308c4.267-4.308 1.172-6.498-2.74-7.078a8.741 8.741 0 0 1-.415-.056c.14.017.279.036.415.056c2.67.297 5.568-.628 6.383-3.364c.246-.828.624-5.79.624-6.478c0-.69-.139-1.861-.902-2.206c-.659-.298-1.664-.62-4.3 1.24C16.046 4.748 13.087 8.687 12 10.8"/></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
