<nav class="navbar bg-white">
  <div class="container">
    <a href="/" class="text-decoration-none d-flex justify-content-center">
      <img src="/assets/images/logo.svg" class="navbar-logo" alt="ShinyGems"/>
      <strong class="navbar-brand ms-2">
        Shiny<span class="text-red">Gems</span>
      </strong>
    </a>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/gems">Browse gems</a>
      </li>
    </ul>
  </div>
</nav>
