<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <a href="/" class="text-decoration-none d-flex justify-content-center">
      <img src="/assets/images/logo.svg" class="navbar-logo" alt="ShinyGems"/>
      <strong class="navbar-brand ms-2">
        Shiny<span class="text-red">Gems</span>
      </strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/gems">Browse gems</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
